<ul>
	<li class="name">
		{{pokeItem.name}}
	</li>
	<li class="buttons">
		{{#link-to "pokemon.detail" pokeItem.id}}Detalhe{{/link-to}}
		{{#link-to "pokemon.edit" pokeItem.id}}Editar{{/link-to}}
	</li>
</ul>
