.poke-new {
	overflow: hidden;
	position: relative;
	padding: 10px;
}

.poke-new .loading-label {
	top: 15%;
}

.poke-new:after {
	content: '';
	display: block;
	clear: both;
}

.poke-new-label {
	background-color: #ddd;
	display: inline-block;
	margin-top: 3px;
	padding: 3px;
}

.poke-new-form {
	display: inline-block;
}

.poke-new-buttons {
	margin-top: 5px;
	text-align: right;
}
